/* Body Styling */
body {
    background-color: rgb(230, 234, 240);
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/Austin_Texas_Lake_Front.jpg/1200px-Austin_Texas_Lake_Front.jpg?20120929001517);
}
/* Menu Bar Styling */
.menuButtons {
    background-color:  rgb(185, 207, 240);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menuButtons h3 {
    color: black;
    border-style: solid;
    border-width: 3px;
    width: 25%;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    line-height: 50px;
}
/* h3 {
    
} */
/* Search Styling */
.searchLabel {
    color: white;
    background-color: rgba(92, 117, 156, 0.75);
    text-align: center;
    width: 40%;
    margin: auto;
    margin-top: 15%;
}
.homeSearch {
    background-color: rgba(92, 117, 156, 0.75);
    text-align: center;
    width: 40%;
    margin: auto;
}
.searchDropdown {
    text-align: center;
    background-color:rgb(185, 207, 240);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-style: solid;
    border-radius: 3px;
    width: 60%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 20px;

}
#searchIcon {
    width: 5%;
    height: 5%;
    background-color: rgba(92, 117, 156, 0.75);
    padding: 0px;
}

/* Popup styling */
.popupTitle {
    position: absolute;
    top: 25%;
    left: 19%;
    text-align: left;
    width: 60%;
    height: 400px;
    background-color: rgb(85, 149, 250);
    margin: auto;
    font-size: 25px;
    padding: 5px;
    box-shadow: 0px 0px 0px 7px rgba(30, 52, 87, 0.3);
}
#siteDescrip {
    font-size: 20px;
}