/* Body Styling */
body {
    background-color: rgb(230, 234, 240);
}

/* Menu Bar Styling */
.menuButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menuButtons button {
    background-color: rgb(185, 207, 240);
    color: black;
    border-style: solid;
    border-width: 3px;
    width: 25%;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#pageButton {
    background-color: rgb(104, 159, 241); 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Heading */
#heading {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contactBlurb {
    text-align: center;
    width: 33%;
    margin: auto;
}

b {
    color: red;
}

/* Form */
.emailForm {
    text-align: center;
    margin: auto;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.shortAnswer {
    height: 25px;
    font-size: 12px;
    width: 50%;
    padding: 3px;
}

#messageBox {
    font-size: 12px;
    height: 100px;
    width: 50%;
    padding: 5px;
}

#submit {
    margin-top: 15px;
    text-align: center;
    height: 50px;
    width: 10%;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(185, 207, 240);
}