/* Body Styling */
body {
    background-color: rgb(230, 234, 240);
}

/* Menu Bar Styling */
.menuButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menuButtons button {
    background-color: rgb(185, 207, 240);
    color: black;
    border-style: solid;
    border-width: 3px;
    width: 25%;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#pageButton {
   background-color: rgb(104, 159, 241); 
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

a {
    text-decoration-line: none;
}

/* Heading Sytling */
#heading {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#blurb {
    text-align: center;
}

/* Preference Buttons */
.preferButtons {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 90%;
}

/* Vertical Line Break */
.filters {
    border-style: solid;
    border-left: 1px black;
    float: left;
    padding-right: 10px;
    margin: 10px;
    border-bottom: none;
    border-top: none;
}

/* Table Styling */ 
#resultsTable {
    table-layout: fixed;
}

