/* Import Header and footer styling */
@import "../allStyle.css";

/* Heading */
#heading {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.privacyBlurb {
    text-align: center;
    width: 33%;
    margin: auto;
}

#policy {
    margin-left: 20%;
    width: 60%;
}