/* Body Styling */
body {
    background-color: rgb(230, 234, 240);
}
/* Menu Bar Styling */
.menuButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration-line: none;
}

.menuButtons button {
    background-color: rgb(185, 207, 240);
    color: black;
    border-style: solid;
    border-width: 3px;
    width: 25%;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#pageButton {
   background-color: rgb(104, 159, 241); 
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#homeLogo {
    width: 35%;
    height: 90%;
}

a {
    text-decoration-line: none;
}

/* Heading */
#heading {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#faqBlurb {
    text-align: justify;
    width: 33%;
    margin: auto;
    margin-bottom: 10px;
}

/* Questions */
.questions {
    text-align: center;
    width: 70%;
    margin: auto
}

.questions p {
    text-align: justify;
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
}

.questions h4 {
    text-align: left;
    width: 70%;
    margin: auto;
    margin-bottom: 5px;
}

/* Questions List */
.questions ul {
    text-align: left;
    width: 70%;
    margin: auto;
}