/* Body Styling */
body {
    background-color: rgb(230, 234, 240);
}
/* Menu Bar Styling */
.menuButtons {
    display: flex;
    align-items: center;
    /* width: 90%; */
}

#homeLogo {
    width: 35%;
    height: 90%;
}

.menuButtons button {
    background-color: rgb(185, 207, 240);
    border-style: solid;
    border-width: 3px;
    width: 25%;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.menuButtons form {
    background-color: rgb(185, 207, 240);
    border-style: solid;
    border-width: 3px;
    width: 25%;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* .menuButtons form {
    background-color: rgb(228, 235, 247);
    border-style: solid;
    width: 20%;
} */

/* Un-underline links */
a {
    text-decoration: none;
}

#pageButton {
   background-color: rgb(104, 159, 241); 
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Heading */
/* Background Box */
#blurb {
    top: 65px;
    margin-left: 5%;
    width: 84%;
    margin-top: 2%;
    color: black;
    padding-top: 10px;
    margin-bottom: 0px;
}
#title {
    text-align: center;
    text-decoration: underline;
    text-decoration-color:rgb(85, 149, 250);
    text-decoration-thickness: 4px;
    font-size: 42px;
    text-shadow: 2px 4px rgb(85, 149, 250);
}

#aboutBlurb {
    text-align: justify;
}

#blurbLink {
    color: indigo;
}

/* Section Styling */
.sectTitles {
    position: relative;
    margin-left: 5%;
    width: 90%;
    color: black;
    text-align: center;
    padding-bottom: 1%;
    margin-top: 0px;
    text-decoration: underline;
    text-decoration-color:rgb(85, 149, 250);
    text-decoration-thickness: 4px;
    font-size: 25px;
}

.shading {
    margin-left: 5%;
    position: relative;
    width: 86%;
    color: black;
    display: inline-flex;
}

.topics {
    border-style: solid;
    border-width: 3px;
    border-color: rgb(230, 234, 240);
    margin: 1%;
    width: 100%;
    background-color:rgb(104, 159, 241);
    /* overflow-wrap: break-word; */
    overflow: hidden;
}

.topicImgs {
    width:100%;
    height: 65%;
    border-bottom-style: solid;
    border-color: rgb(230, 234, 240);
    border-width: 3px;
}

.descrips {
    position: relative;
    font-size: 18px;
    text-align: justify;
    margin: 1%;
}

.topicTitles {
    width: 100%;
    position: absolute;
    text-align: left;
    margin-top: 0.5px;
    margin-left: 5px;
    text-decoration: underline;
    text-decoration-color:rgb(85, 149, 250);
    text-decoration-thickness: 4px;
    font-size: 21.8px;
    top: 7%;
}

/* Popup styling */
/* Text */
#popupTitle {
    position: absolute;
    top: 85px;
    left: 19%;
    text-align: left;
    width: 60%;
    height: 480px; 
    background-color: rgb(85, 149, 250);
    font-size: 25px;
    padding: 5px;
    border-width: 8px;
    border-style: outset;
    border-color: rgb(230, 234, 240);
}

#siteDescrip {
    font-size: 20px;
}

.dark {
    background-color: rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
}

/* Texas Image */
#popupTexas {
    position: absolute;
    width: 25%;
    height: 45%;
    margin-left: 45%;
    top: 22%;
}

/* Exit Button */
#popupX {
    position: absolute;
    top: 100px;
    left: 77.5%;
    background-color:rgb(185, 207, 240);
    width: 2%;
    text-align: center;
    height: 4%;
}