/* Body */
body {
    background-color: rgb(230, 234, 240);
}

/* Menu Bar Styling */
.menuButtons {
    display: flex;
    align-items: center;
}

#homeLogo {
    width: 35%;
    height: 90%;
}

#pageButton {
    background-color: rgb(104, 159, 241); 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }

.menuButtons button {
    background-color: rgb(185, 207, 240);
    border-style: solid;
    border-width: 3px;
    width: 25%;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Un-underline links */
a {
    text-decoration: none;
}

/* Heading */
#heading {
    text-align: center;
    border-style: solid;
    border-color: black;
    border-bottom: 5px;
}

/* Table/Results Styling */ 
#resultsTable {
    table-layout: fixed;
}